.content {
    &__name {
        display: block;
        font-size: 22px;
    }
    &__position {
        display: block;
        font-size: 18px;
    }

    &__company {
        display: block;
        font-size: 18px;
    }
}